body {
    margin: 0;
    padding: 0;
}

.topSection {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
    background-image: 
       linear-gradient(to bottom, black, deepskyblue);
}

.middleSection {
    position: relative;
    left: 0;
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
    text-align: center;
    font: bold 18px/20px sans-serif;
    background-color: black;
    overflow: auto;
    color: darkorange;
    
}

.bottomSection {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
     background-image: 
       linear-gradient(to bottom, deepskyblue, black);
    color: darkorange;
    font: bold 20px/20px sans-serif;

}

#time {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 25%;
    right: 25%;
    height: auto;

    vertical-align: middle;
}

#copyright {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 25%;
    left: 25%;
    height: auto;

    vertical-align: middle;
}


#topMiddle {
    height: 100%;
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    text-align: center;
    
}

#topRight {
    height: 100%;
    width: 15%;
    position: absolute;
    right: 0;
    color: darkorange;
    font: bold 15px/20px sans-serif;
    text-align: justify;
}

#topRight img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0%;
    opacity: 0.20;
}

#logo {
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#logo img {
    width: 101%;
    height: 101%;
    filter: grayscale(0%);
}

#logo:hover {
    filter: grayscale(100%);
}

.navigation {
    position: absolute;
    height: 50%;
    width: 70%;
    left: 12%;
    top: 15%;
}

.navigation ul, .navigation li{
    margin: 0;
    padding: 0;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    height: 5%;
    display: block;
    
}

.navigation li {
    float: left;
    position: relative;
    height: auto;
    width: auto;
    display: inline-block;
}


.navigation a {
    color: darkorange;
    display: block;
    font: bold 18px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none; 
}

.navigation li:hover a {
    background-color: black;
     
}

.subnavigation {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 50px;
    visibility: hidden;
    z-index: 1;
    background-color: black;
}

li:hover ul.subnavigation {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

.subnavigation li {
    float: none;
    width: 100%;
}

.subnavigation a {
    background-color: black;
}

.subnavigation a:hover {
    color: deepskyblue;
}

.redText{
    background-color: red;
    color: black;
}

.greenText{
    background-color: green;
    color: black;
}
