html {
    background-color: black;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.box {
    width: 30px;
    bottom: 2;
    background-color: cadetblue;
    position: absolute;
    border-style:ridge;
    border-width: 5px;
    text-align: center;
    
}


.barText {
    position: absolute;
    bottom: 2;
    font: bold 40px/1px sans-serif;
    width: 100%;
    height: 15;
}

.topSection {
    position: relative;
    height: 15%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    background-image: linear-gradient(to bottom, black, deepskyblue);
    
}

.middle {
    position: absolute;
    height: 70%;
    width: 100%;
    top: 15%;
    bottom: 15%;
    padding: 0;
    margin: 0;
}

#middleLeft {
    position: absolute;
    left: 0;
    width: 70%;
    height: 100%;
}

#middleRight {
    font: bold 15px/15px sans-serif;
    position: absolute;
    left: 70%;
    width: 28%;
    height: 100%;
    background-color: gray;
}

#middleRightTop {
    position: absolute;
    top: 0;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: black;
    color: darkorange;
}

.sortCode {
    visibility: hidden;
    position: absolute;
    top: 10%;
}

#middleRightBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: black;
}
.feedbackText {
    color: darkorange;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.box.move {
    -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}



